### 1. Importing the relevant libraries

In [39]:
# CODE HERE
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### 2. Loading the raw data

#### Load the data from a .csv in the same folder

In [40]:
# CODE HERE
data = pd.read_csv('linear.csv')

#### Let's explore the top 5 rows of the df

In [41]:
# CODE HERE
data.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

#### Let's explore the datatype of each column

In [78]:
data.dtypes

Brand            object
Price           float64
Body             object
Mileage           int64
EngineV         float64
Engine Type      object
Registration     object
Year              int64
Model            object
dtype: object

## Preprocessing

### 3. Exploring the descriptive statistics of the variables
-  Descriptive statistics are very useful for initial exploration of the variables
- By default, only descriptives for the numerical variables are shown
- To include the categorical ones, you should specify this with an argument

#### `numerical variables`

In [42]:
# CODE HERE
data.describe()

               Price      Mileage      EngineV         Year
count    4173.000000  4345.000000  4195.000000  4345.000000
mean    19418.746935   161.237284     2.790734  2006.550058
std     25584.242620   105.705797     5.066437     6.719097
min       600.000000     0.000000     0.600000  1969.000000
25%      6999.000000    86.000000     1.800000  2003.000000
50%     11500.000000   155.000000     2.200000  2008.000000
75%     21700.000000   230.000000     3.000000  2012.000000
max    300000.000000   980.000000    99.990000  2016.000000

#### `categorical variables`

In [43]:
# CODE HERE
data.describe(include='object')

             Brand   Body Engine Type Registration    Model
count         4345   4345        4345         4345     4345
unique           7      6           4            2      312
top     Volkswagen  sedan      Diesel          yes  E-Class
freq           936   1649        2019         3947      199

### Dealing with missing values

#### 4. Find the missing values from the data if any
- data.isnull() # shows a df with the information whether a data point is null. 
- Since True = the data point is missing, while False = the data point is not missing, we can sum them.
- This will give us the total number of missing values feature-wise.

#### `number of missing values in column`

In [44]:
# CODE HERE
data.isnull().sum()

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64

#### `percentages of missing values in column`

In [45]:
# CODE HERE
(data.isnull().sum() / data.shape[0] ) * 100

Brand           0.000000
Price           3.958573
Body            0.000000
Mileage         0.000000
EngineV         3.452244
Engine Type     0.000000
Registration    0.000000
Year            0.000000
Model           0.000000
dtype: float64

#### 5. Let's simply drop all missing values
Note: This is not always recommended, however, when we remove less than 5% of the data, it is okay

In [46]:
data.dropna(axis = 0,how='any',inplace=True)  # delete row which contain null values

In [47]:
data.isnull().sum()

Brand           0
Price           0
Body            0
Mileage         0
EngineV         0
Engine Type     0
Registration    0
Year            0
Model           0
dtype: int64

#### 6. Let's check the descriptives without the missing values

In [77]:
# CODE HERE
data.describe()

               Price      Mileage      EngineV         Year
count    4025.000000  4025.000000  4025.000000  4025.000000
mean    19552.308065   163.572174     2.764586  2006.379627
std     25815.734988   103.394703     4.935941     6.695595
min       600.000000     0.000000     0.600000  1969.000000
25%      6999.000000    90.000000     1.800000  2003.000000
50%     11500.000000   158.000000     2.200000  2007.000000
75%     21900.000000   230.000000     3.000000  2012.000000
max    300000.000000   980.000000    99.990000  2016.000000

#### `Both the columns that have missing values are of numerical datatype`

### Exploring the PDFs for Numerical Variables in the DataFrame

#### 7. A great step in the data exploration is to display the probability distribution function (PDF) of a variable
- The PDF will show us how that variable is distributed 
- This makes it very easy to spot anomalies, such as outliers
- The PDF is often the basis on which we decide whether we want to transform a feature

In [49]:
# CODE HERE

### Dealing with outliers
Hint: Use IQR or Z Score

#### 8A. Identify the Outliers which are presented in `Price` Column

In [50]:
# CODE HERE

#### 8B. Remove the Outliers which are presented in `Price` Column

In [51]:
# CODE HERE

#### 8C. Again Check the Distribution for `Price` Column and say something about distribution plot

In [52]:
# CODE HERE

#### 9A. Same identify and remove the outliers in `Milage` column

In [53]:
# CODE HERE

#### 9B. Check the distribution after deleting the outliers in `milage` column and say something about distribution.

In [54]:
# CODE HERE

In [55]:
# CODE HERE

#### 10A. Identify and remove the outliers from `EngineV` column

In [56]:
# CODE HERE

In [57]:
# CODE HERE

#### 10B. Ckeck the distribution plot after deleting the outliers and say something about it.

In [58]:
# CODE HERE

In [59]:
# CODE HERE

#### 10C. Perform Lable & One-Hot Encoding For the Categorical Variable

In [60]:
# CODE HERE

In [61]:
# CODE HERE

### Multicollinearity

#### 11A. Say about Multicollinearity and Find the Multicollinearity variables in the Dataset.

In [62]:
#CODE HERE

#### 11B. Show the variables which are having Multicollinearity.

In [63]:
#CODE HERE

### Model fit

#### 12A. Perform The Model fit & Model output using OLS

In [64]:
#CODE HERE

#### 12B. Explain the Model Evaluation metrics in OLS method.

**Note:** Give The Explanation about R-square, Adjusted.R-Square and Explain the P-Value in OLS Table

In [65]:
# CODE HERE

#### 13A. Feature Selection using with Forward Selection

In [66]:
#CODE HERE

In [67]:
###Interpretations

#### 13B. Feature Selection using with Backward Selection

In [68]:
###CODEHERE

In [69]:
###Interpretations

#### 14. Explain about Assumption of errors and predictors

In [70]:
###CODEHERE

#### 15A. Split The Dataset into Train and Test (80:20) using Sklearn

In [71]:
###CODEHERE

#### 15B. Perform the Linear Regression Model fit using Sklearn.

In [72]:
###CODEHERE

#### 15C. Explain about Lasso Regression and Perform the Lasso Regression

In [73]:
###CODEHERE

#### 15D. Explain about Ridge Regression and Perform the Ridge Regression

In [74]:
###CODEHERE

#### 16. Perform Residual Analysis Give The Interpretations.

In [75]:
###CODEHERE

### Give the Conclusions about the Model fits for What you Observe.

In [76]:
### Interpretations