# `Logistic Regression Assignment -----------------------------------`

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('heart.csv')
data.head()

  age\tsex\tcp\ttrestbps\tchol\tfbs\trestecg\tthalach\texang\toldpeak\tslope\tca\tthal\ttarget
0  63\tMale\tasymptomatic\t145\t233\tTRUE\tNormal...
1  37\tMale\t non-anginal pain\t130\t250\tFALSE\t...
2  41\tFemale\tatypical angina\t130\t204\tFALSE\t...
3  56\tMale\tatypical angina\t120\t236\tFALSE\tNo...
4  57\tFemale\t typical angina\t120\t354\tFALSE\t...

#### `Clean the data`