# Task - 3



## **Task has been mentioned at the end of this notebook**

## 1. Basic Pandas Operations

In [344]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [345]:
# Read the dataset and display the head. You will get the output as mentioned below

# ______________________________
# ______________________________

In [346]:
# Check the shape of the dataframe

# ______________________________
# ______________________________

In [347]:
# On the dataframe apply info() function and observe the Dtypes and Missing Values

# ______________________________
# ______________________________

## 2. Cleaning the Data

In [348]:
# Impute the Null values in Health Indicator, Holding_Policy_Duration and Holding_Policy_Type

# ____________________________

# ____________________________

In [349]:
# Check again Holding_Policy_Duration is in object column convert that into int

# ____________________________

In [350]:
# Observe that ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse'] 
# above these Object columns have two values - Yes and No


# ____________________________
# ____________________________

In [351]:
# Converting all the Yes to 1 and No to 0. 



# Write a for loop to iterate over the list given above
# For each feature use pandas 'apply()' to convert all the 'Yes' to 1 and 'No' to 0


# ______________________________
# ______________________________

In [352]:
# Now again having a look at all those columns to see if everything went well

# _________________________________

In [353]:
# Observe that all those columns are now converted from Object to Int64

# ________________________________

In [354]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories

# ______________________________
# ______________________________

In [355]:
# You can also do this to separate Object columns

# ____________________________

In [356]:
# Lets just try to see what is happening Response. Check the output.

In [357]:
# Dropping unknown column

# Write the code here to drop unknown column and check dataframe shape
# ______________________________
# ______________________________

In [358]:
# Getting all the Object Dtypes

In [359]:
# Encoding the categorical features



# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

# Write the code here to use 'encoder' to convert all the categorical columns to numerical representations
# Take extra care to convert encoded numpy array to dataframe and call that data fram 'df_encoded'

# ______________________________
# ______________________________

In [360]:
# Concatinating the original data frame and onehot encoded dataframe

In [361]:
# Drop all the unwanted columns.


# Because we have already encoded them and added to main dataframe

## Observe that 26.5% datapoints belong to one class rest all belongs to other class. Clearly dataset is having high imbalance.

**To Do:**
1. Read about Oversampling and Undersampling.
2. Perform undersampling.

## Train Test Split

**To Do:**
1. Sandardise the data
2. Perform 80-20 split

## Model Building - Logistic Regression, SVM, KNN, DT, RF, Gradient Boosting, AdaBoosting etc

For all the algorithms mentioned above, perform below mentioned steps.

**To Do:**
1. Train the Model using `Accuracy` as the evaluation metric
2. Predict
3. Evaluate use Accuracy, Confusion Matrix, Precision & Recall, F1-score and ROC AUC to understand model performance
4. Compare the perormance of all the models

In [362]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [363]:
data = pd.read_csv('train_cleaned.csv')
data.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,C3,64,1,1,36,36,0,15,2.0,16,13320.0,0,1,0,0,0,0,0,0,0,0
1,C3,2955,1,1,66,66,0,10,1.0,19,16152.0,0,0,0,0,0,0,1,0,0,0
2,C1,1542,0,1,24,24,0,3,1.0,16,7310.0,0,1,0,0,0,0,0,0,0,0
3,C26,772,0,1,75,75,0,1,3.0,16,15792.0,0,1,0,0,0,0,0,0,0,0
4,C2,1510,1,0,59,58,1,15,4.0,17,23673.0,0,1,0,0,0,0,0,0,0,0

In [364]:
data['Response'].value_counts()/100   # in percentages

0    75.41
1    24.59
Name: Response, dtype: float64

### Sampling

In [365]:
X = data.drop(['Response','X9'],axis=1)
y = data['Response']

In [366]:
# ! pip install imblearn
from collections import Counter

In [367]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler()
X_rus,y_rus = rus.fit_resample(X,y)

In [368]:
print(Counter(y_rus))

Counter({0: 2459, 1: 2459})

In [369]:
y_rus.value_counts()

0    2459
1    2459
Name: Response, dtype: int64

### Standardise

In [370]:
pd.set_option("display.max_rows", None, "display.max_columns", None)   # display entire dataframe
X_rus.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,X1,X2,X3,X4,X5,X6,X7,X8
0,C15,1575,1,0,39,38,0,7,3.0,21,21760.0,0,0,0,1,0,0,0,0
1,C2,158,1,1,26,26,0,6,3.0,22,8820.0,1,0,0,0,0,0,0,0
2,C1,2404,0,0,68,55,1,15,1.0,19,30240.0,1,0,0,0,0,0,0,0
3,C4,1498,1,1,53,53,0,15,3.0,22,16324.0,1,0,0,0,0,0,0,0
4,C7,887,1,0,43,19,0,10,3.0,21,17550.0,1,0,0,0,0,0,0,0

In [371]:
X_rus.columns

Index(['City_Code', 'Region_Code', 'Accomodation_Type', 'Reco_Insurance_Type',
       'Upper_Age', 'Lower_Age', 'Is_Spouse', 'Holding_Policy_Duration',
       'Holding_Policy_Type', 'Reco_Policy_Cat', 'Reco_Policy_Premium', 'X1',
       'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8'],
      dtype='object')

In [372]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_rus[['Region_Code','Upper_Age', 'Lower_Age','Holding_Policy_Type','Holding_Policy_Duration', 'Reco_Policy_Cat','Reco_Policy_Premium']] = sc.fit_transform(X_rus[['Region_Code','Upper_Age', 'Lower_Age','Holding_Policy_Type', 'Holding_Policy_Duration','Reco_Policy_Cat','Reco_Policy_Premium']])

In [373]:
X_rus.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,X1,X2,X3,X4,X5,X6,X7,X8
0,C15,-0.096464,1,0,-0.344058,-0.268184,0,-0.509780,0.381573,0.896957,1.148791,0,0,0,1,0,0,0,0
1,C2,-1.093017,1,1,-1.099477,-0.961720,0,-0.687198,0.381573,1.064481,-0.834618,1,0,0,0,0,0,0,0
2,C1,0.486559,0,0,1.341106,0.714324,1,0.909566,-1.992339,0.561910,2.448584,1,0,0,0,0,0,0,0
3,C4,-0.150616,1,1,0.469469,0.598735,0,0.909566,0.381573,1.064481,0.315575,1,0,0,0,0,0,0,0
4,C7,-0.580323,1,0,-0.111622,-1.366282,0,0.022475,0.381573,0.896957,0.503494,1,0,0,0,0,0,0,0

In [374]:
X_rus.drop('City_Code',axis=1,inplace=True)  # drop City_Code

### Train Test Split

In [375]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_rus, y_rus, test_size=0.2, random_state=42)

### Modelling
 Logistic Regression, SVM, KNN, DT, RF, Gradient Boosting, AdaBoosting etc

### `Logistic Regression -------------------------------------------`

In [376]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

In [377]:
from sklearn.metrics import accuracy_score,precision_score,f1_score,confusion_matrix,recall_score
print('Accuracy =>',accuracy_score(y_test,y_pred))
print('Precision =>',precision_score(y_test,y_pred))
print('F-1 score =>',f1_score(y_test,y_pred))
print('Confusion matrix =>\n',confusion_matrix(y_test,y_pred))
print('Recall score',recall_score(y_test,y_pred))

Accuracy => 0.5203252032520326
Precision => 0.5099337748344371
F-1 score => 0.5661764705882354
Confusion matrix =>
 [[204 296]
 [176 308]]
Recall score 0.6363636363636364

### `SVC -------------------------------------------`

In [378]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train,y_train)
y_pred = svc.predict(X_test)

In [379]:
print('Accuracy =>',accuracy_score(y_test,y_pred))
print('Precision =>',precision_score(y_test,y_pred))
print('F-1 score =>',f1_score(y_test,y_pred))
print('Confusion matrix =>\n',confusion_matrix(y_test,y_pred))
print('Recall score',recall_score(y_test,y_pred))

Accuracy => 0.5386178861788617
Precision => 0.5212464589235127
F-1 score => 0.6184873949579832
Confusion matrix =>
 [[162 338]
 [116 368]]
Recall score 0.7603305785123967

### `KNN -------------------------------------------`

In [380]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [381]:
print('Accuracy =>',accuracy_score(y_test,y_pred))
print('Precision =>',precision_score(y_test,y_pred))
print('F-1 score =>',f1_score(y_test,y_pred))
print('Confusion matrix =>\n',confusion_matrix(y_test,y_pred))
print('Recall score',recall_score(y_test,y_pred))

Accuracy => 0.5436991869918699
Precision => 0.5334608030592735
F-1 score => 0.5541211519364448
Confusion matrix =>
 [[256 244]
 [205 279]]
Recall score 0.5764462809917356

### `Decision Tree -------------------------------------------`

In [382]:
from sklearn.tree import DecisionTreeClassifier
dtrc = DecisionTreeClassifier()
dtrc.fit(X_train,y_train)
y_pred = dtrc.predict(X_test)

In [383]:
print('Accuracy =>',accuracy_score(y_test,y_pred))
print('Precision =>',precision_score(y_test,y_pred))
print('F-1 score =>',f1_score(y_test,y_pred))
print('Confusion matrix =>\n',confusion_matrix(y_test,y_pred))
print('Recall score',recall_score(y_test,y_pred))

Accuracy => 0.5376016260162602
Precision => 0.5289421157684631
F-1 score => 0.5380710659898478
Confusion matrix =>
 [[264 236]
 [219 265]]
Recall score 0.5475206611570248

### `Random Forest -------------------------------------------`

In [384]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)

In [385]:
print('Accuracy =>',accuracy_score(y_test,y_pred))
print('Precision =>',precision_score(y_test,y_pred))
print('F-1 score =>',f1_score(y_test,y_pred))
print('Confusion matrix =>\n',confusion_matrix(y_test,y_pred))
print('Recall score',recall_score(y_test,y_pred))

Accuracy => 0.5294715447154471
Precision => 0.5215605749486653
F-1 score => 0.5231719876416066
Confusion matrix =>
 [[267 233]
 [230 254]]
Recall score 0.5247933884297521