# Classification Assignment


## **Task has been mentioned at the end of this notebook**

## 1. Basic Pandas Operations

In [1]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
# Read the dataset and display the head. You will get the output as mentioned below

# ______________________________
# ______________________________
df = pd.read_csv('train.csv')
df.head()

   Unnamed: 0     ID City_Code  Region_Code  ... Holding_Policy_Type Reco_Policy_Cat  Reco_Policy_Premium  Response
0       27385  27386        C3           64  ...                 2.0              16              13320.0         0
1       33499  33500        C3         2955  ...                 1.0              19              16152.0         0
2        7997   7998        C1         1542  ...                 1.0              16               7310.0         0
3       33032  33033       C26          772  ...                 3.0              16              15792.0         0
4       30516  30517        C2         1510  ...                 4.0              17              23673.0         0

[5 rows x 15 columns]

In [15]:
# Check the shape of the dataframe

# ______________________________
# ______________________________

(10000, 14)

In [21]:
# On the dataframe apply info() function and observe the Dtypes and Missing Values

# ______________________________
# ______________________________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 8018 to 5640
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10000 non-null  int64
 1   ID                       10000 non-null  int64
 2   City_Code                10000 non-null  object
 3   Region_Code              10000 non-null  int64
 4   Accomodation_Type        10000 non-null  object
 5   Reco_Insurance_Type      10000 non-null  object
 6   Upper_Age                10000 non-null  int64
 7   Lower_Age                10000 non-null  int64
 8   Is_Spouse                10000 non-null  object
 9   Health Indicator         7671 non-null   object
 10  Holding_Policy_Duration  5946 non-null   object
 11  Holding_Policy_Type      5946 non-null   float64
 12  Reco_Policy_Cat          10000 non-null  int64
 13  Reco_Policy_Premium      10000 non-null  float64
 14  Response                 10000 non-null  int64
dtypes: float64(2), int64(7), object(6)
memory usage: 1.2+ MB

## 2. Cleaning the Data

In [ ]:
# Impute the Null values in Health Indicator, Holding_Policy_Duration and Holding_Policy_Type

# ____________________________

# ____________________________

In [ ]:
# Check again Holding_Policy_Duration is in object column convert that into int

# ____________________________

In [6]:
# Observe that ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse'] 
# above these Object columns have two values - Yes and No


# ____________________________
# ____________________________

In [31]:
# Converting all the Yes to 1 and No to 0. 



# Write a for loop to iterate over the list given above
# For each feature use pandas 'apply()' to convert all the 'Yes' to 1 and 'No' to 0


# ______________________________
# ______________________________

In [8]:
# Now again having a look at all those columns to see if everything went well

# _________________________________

In [9]:
# Observe that all those columns are now converted from Object to Int64

# ________________________________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 13237 to 2889
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   City_Code                10000 non-null  object
 2   Region_Code              10000 non-null  int64
 3   Accomodation_Type        10000 non-null  object
 4   Reco_Insurance_Type      10000 non-null  object
 5   Upper_Age                10000 non-null  int64
 6   Lower_Age                10000 non-null  int64
 7   Is_Spouse                10000 non-null  object
 8   Health Indicator         7754 non-null   object
 9   Holding_Policy_Duration  6034 non-null   object
 10  Holding_Policy_Type      6034 non-null   float64
 11  Reco_Policy_Cat          10000 non-null  int64
 12  Reco_Policy_Premium      10000 non-null  float64
 13  Response                 10000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [10]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories

# ______________________________
# ______________________________

In [11]:
# You can also do this to separate Object columns

# ____________________________

,City_Code,Accomodation_Type,Reco_Insurance_Type,Is_Spouse,Health Indicator,Holding_Policy_Duration
13237,C19,Owned,Joint,Yes,X2,11
29087,C2,Owned,Individual,No,X3,NaN
49356,C2,Rented,Individual,No,X1,NaN
2175,C19,Owned,Individual,No,X5,1
6027,C4,Owned,Individual,No,X2,5
...,...,...,...,...,...,...
11028,C4,Owned,Individual,No,NaN,NaN
12673,C10,Rented,Individual,No,X1,NaN
35186,C3,Rented,Individual,No,X1,1
50062,C11,Owned,Individual,No,NaN,NaN
2889,C7,Rented,Individual,No,NaN,3

In [24]:
# Lets just try to see what is happening Response. Check the output.

In [22]:
# Dropping unknown column

# Write the code here to drop unknown column and check dataframe shape
# ______________________________
# ______________________________

In [23]:
# Getting all the Object Dtypes

In [25]:
# Encoding the categorical features



# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

# Write the code here to use 'encoder' to convert all the categorical columns to numerical representations
# Take extra care to convert encoded numpy array to dataframe and call that data fram 'df_encoded'

# ______________________________
# ______________________________

In [26]:
# Concatinating the original data frame and onehot encoded dataframe

In [24]:
# Drop all the unwanted columns.


# Because we have already encoded them and added to main dataframe

## Observe that 24.59% datapoints belong to one class rest all belongs to other class. Clearly dataset is having high imbalance.

**To Do:**
1. Read about Oversampling and Undersampling.
2. Perform undersampling.

## Train Test Split

**To Do:**
1. Sandardise the data
2. Perform 80-20 split

## Model Building - Logistic Regression

**To Do:**
1. Perform appropriate Hyperparameter Tuning
2. Train the Model using `Accuracy` as the evaluation metric
3. Predict
4. Evaluate
5. Use Accuracy, Confusion Matrix, Precision & Recall, F1-score and ROC AUC to understand model performance

## Model Building - SVM, KNN, DT, RF, Gradient Boosting, AdaBoosting etc

For all the algorithms mentioned above, perform below mentioned steps.

**To Do:**
1. Perform appropriate Hyperparameter Tuning
2. Train the Model using `Accuracy` as the evaluation metric
3. Predict
4. Evaluate
5. Use Accuracy, Confusion Matrix, Precision & Recall, F1-score and ROC AUC to understand model performance
6. Compare the perormance of all the models