# Task - 2


## **Task has been mentioned at the end of this notebook**  

Read this notebook to understand the solutions to `Task - 1`

## 1. Basic Pandas Operations

In [1]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
# Read the dataset and display the head. You will get the output as mentioned below

# ______________________________
# ______________________________

,Unnamed: 0,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
8018,11694,11695,C1,1979,Rented,Joint,47,39,Yes,X2,NaN,NaN,17,18777.6,0
9225,18495,18496,C8,4482,Owned,Individual,65,65,No,NaN,NaN,NaN,12,16864.0,0
3854,7434,7435,C14,295,Rented,Individual,21,21,No,X5,NaN,NaN,19,9492.0,0
2029,50797,50798,C6,428,Rented,Individual,48,48,No,X1,NaN,NaN,22,14592.0,0
3539,36533,36534,C1,1984,Rented,Individual,25,25,No,X2,NaN,NaN,21,5392.0,0

In [15]:
# Check the shape of the dataframe

# ______________________________
# ______________________________

(10000, 14)

In [21]:
# On the dataframe apply info() function and observe the Dtypes and Missing Values

# ______________________________
# ______________________________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 8018 to 5640
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10000 non-null  int64
 1   ID                       10000 non-null  int64
 2   City_Code                10000 non-null  object
 3   Region_Code              10000 non-null  int64
 4   Accomodation_Type        10000 non-null  object
 5   Reco_Insurance_Type      10000 non-null  object
 6   Upper_Age                10000 non-null  int64
 7   Lower_Age                10000 non-null  int64
 8   Is_Spouse                10000 non-null  object
 9   Health Indicator         7671 non-null   object
 10  Holding_Policy_Duration  5946 non-null   object
 11  Holding_Policy_Type      5946 non-null   float64
 12  Reco_Policy_Cat          10000 non-null  int64
 13  Reco_Policy_Premium      10000 non-null  float64
 14  Response                 10000 non-null  int64
dtypes: float64(2), int64(7), object(6)
memory usage: 1.2+ MB

## 2. Cleaning the Data

In [ ]:
# Impute the Null values in Health Indicator, Holding_Policy_Duration and Holding_Policy_Type

# ____________________________

# ____________________________

In [ ]:
# Check again Holding_Policy_Duration is in object column convert that into int

# ____________________________

In [6]:
# Observe that ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse'] 
# above these Object columns have two values - Yes and No


# ____________________________
# ____________________________

In [31]:
# Converting all the Yes to 1 and No to 0. 



# Write a for loop to iterate over the list given above
# For each feature use pandas 'apply()' to convert all the 'Yes' to 1 and 'No' to 0


# ______________________________
# ______________________________

In [8]:
# Now again having a look at all those columns to see if everything went well

# _________________________________

In [9]:
# Observe that all those columns are now converted from Object to Int64

# ________________________________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 13237 to 2889
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   City_Code                10000 non-null  object
 2   Region_Code              10000 non-null  int64
 3   Accomodation_Type        10000 non-null  object
 4   Reco_Insurance_Type      10000 non-null  object
 5   Upper_Age                10000 non-null  int64
 6   Lower_Age                10000 non-null  int64
 7   Is_Spouse                10000 non-null  object
 8   Health Indicator         7754 non-null   object
 9   Holding_Policy_Duration  6034 non-null   object
 10  Holding_Policy_Type      6034 non-null   float64
 11  Reco_Policy_Cat          10000 non-null  int64
 12  Reco_Policy_Premium      10000 non-null  float64
 13  Response                 10000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [10]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories

# ______________________________
# ______________________________

In [11]:
# You can also do this to separate Object columns

# ____________________________

,City_Code,Accomodation_Type,Reco_Insurance_Type,Is_Spouse,Health Indicator,Holding_Policy_Duration
13237,C19,Owned,Joint,Yes,X2,11
29087,C2,Owned,Individual,No,X3,NaN
49356,C2,Rented,Individual,No,X1,NaN
2175,C19,Owned,Individual,No,X5,1
6027,C4,Owned,Individual,No,X2,5
...,...,...,...,...,...,...
11028,C4,Owned,Individual,No,NaN,NaN
12673,C10,Rented,Individual,No,X1,NaN
35186,C3,Rented,Individual,No,X1,1
50062,C11,Owned,Individual,No,NaN,NaN
2889,C7,Rented,Individual,No,NaN,3

In [24]:
# Lets just try to see what is happening Response. Check the output.

In [22]:
# Dropping unknown column

# Write the code here to drop unknown column and check dataframe shape
# ______________________________
# ______________________________

In [23]:
# Getting all the Object Dtypes

# _______________________________

In [24]:
# Drop all the unwanted columns.


# _______________________________

## Perform Exploratory Data Analysis

**To Do:**
1. Perform Univaraite Analysis (Basic pandas statistical description)
2. Perform Bivaraite Analysis (Pandas Cross Tabs)
3. Visualisations - 
    * Univariate - Histograms, boxplot, PDFs, countplot, etc
    * Bivariate - Scatterplot, Boxplots, Pairplot, etc
4. Write proper observations after each plot
5. At the end of the notebook, summarize it with all the best observations you got.

### City Code
#### Lets see the number of cities and see how many customers are there

In [ ]:
# _____________________________________
# _____________________________________

#### Let's see city-wise customers interests in recommended policy

In [ ]:
# _____________________________________
# _____________________________________

### Region Code
#### Let's see the number of regions and region-wise customer interests in recommended policy.

In [ ]:
# _____________________________________
# _____________________________________

### Accomodation Type
#### Let's see how many customers are living in their own house or rented houseand see how their interests vary in recommended policy.

In [ ]:
# _____________________________________
# _____________________________________

#### Let's see the city-wise accomodation type and customer response

In [ ]:
# _____________________________________
# _____________________________________

### Reco Insurance Type
#### Let's see the various recommended insurance types and customer response to them.

In [ ]:
# _____________________________________
# _____________________________________

#### Let's see customers accommodation, recommended insurance type and customer responses.

In [ ]:
# _____________________________________
# _____________________________________

### Recommended Policy Category
#### Let's see how many categories under the type of recommended policies.

In [ ]:
# _____________________________________
# _____________________________________

### Recommended Policy Premium
#### Let's see if there is a relationship between the recommended policy premium and recommended policy category.Analyse results with customer's holding policy type and their response to recommended policy.

In [ ]:
# _____________________________________
# _____________________________________

#### Let's see which type of recommnded policy has more number of customers

In [ ]:
# _____________________________________
# _____________________________________

#### Let's see city-wise recommended insurance types to customers and theirresponses to recommended policy.

In [ ]:
# _____________________________________
# _____________________________________

#### Let's analyze the customer's upper age with their type of accommodation and recommended policy types to them and also their interest in the recommended policy.

In [ ]:
# _____________________________________
# _____________________________________

#### Let's see city-wise the customers who have recommended to take the joint policy with their spouse or with other customers. Check these results with the customer's type of accommodation.

In [ ]:
# _____________________________________
# _____________________________________