# `Task - 1 -----------------------------------`



## For this File Please Follow all the Comments mentioned in this Notebook and complete Till Missing value treatment.

## 1. Basic Pandas Operations

In [611]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [612]:
# Read the dataset and display the head. You will get the output as mentioned below

data = pd.read_csv('train.csv')
data.sample(5)
data.drop('Unnamed: 0',axis=1,inplace=True)

In [613]:
# Check the shape of the dataframe

data.shape

(10000, 14)

In [614]:
# On the dataframe apply info() function and observe the Dtypes and Missing Values

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   City_Code                10000 non-null  object
 2   Region_Code              10000 non-null  int64
 3   Accomodation_Type        10000 non-null  object
 4   Reco_Insurance_Type      10000 non-null  object
 5   Upper_Age                10000 non-null  int64
 6   Lower_Age                10000 non-null  int64
 7   Is_Spouse                10000 non-null  object
 8   Health Indicator         7671 non-null   object
 9   Holding_Policy_Duration  5946 non-null   object
 10  Holding_Policy_Type      5946 non-null   float64
 11  Reco_Policy_Cat          10000 non-null  int64
 12  Reco_Policy_Premium      10000 non-null  float64
 13  Response                 10000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [615]:
data.isnull().sum()

ID                            0
City_Code                     0
Region_Code                   0
Accomodation_Type             0
Reco_Insurance_Type           0
Upper_Age                     0
Lower_Age                     0
Is_Spouse                     0
Health Indicator           2329
Holding_Policy_Duration    4054
Holding_Policy_Type        4054
Reco_Policy_Cat               0
Reco_Policy_Premium           0
Response                      0
dtype: int64

## 2. Cleaning the Data

In [616]:
# Impute the Null values in Health Indicator, Holding_Policy_Duration and Holding_Policy_Type

data['Holding_Policy_Type'].fillna(data['Holding_Policy_Type'].median(),inplace=True) # median
data['Health Indicator'] = data['Health Indicator'].fillna(data['Health Indicator'].value_counts().index[0])  # mode
data['Holding_Policy_Duration'] = data['Holding_Policy_Duration'].fillna(data['Holding_Policy_Duration'].value_counts().index[0])  # mode

In [617]:
# Check again Holding_Policy_Duration is in object column convert that into int

data.drop(data[data['Holding_Policy_Duration'] == '14+'].index, inplace = True)  # drop 14+
data['Holding_Policy_Duration'] = data['Holding_Policy_Duration'].astype(int)

In [618]:
# Observe that ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse'] 
# above these Object columns have two values - Yes and No
print(data['Accomodation_Type'].value_counts())
print(data['Reco_Insurance_Type'].value_counts())
print(data['Is_Spouse'].value_counts())
# ____________________________
# ____________________________

Owned     2936
Rented    2112
Name: Accomodation_Type, dtype: int64
Individual    3944
Joint         1104
Name: Reco_Insurance_Type, dtype: int64
No     4147
Yes     901
Name: Is_Spouse, dtype: int64

In [619]:
# Converting all the Yes to 1 and No to 0. 



# Write a for loop to iterate over the list given above
# For each feature use pandas 'apply()' to convert all the 'Yes' to 1 and 'No' to 0

data['Accomodation_Type'] = data['Accomodation_Type'].apply(lambda x:1 if x=='Owned' else 0)
data['Reco_Insurance_Type'] = data['Reco_Insurance_Type'].apply(lambda x:1 if x=='Individual' else 0)
data['Is_Spouse'] = data['Is_Spouse'].apply(lambda x:1 if x=='Yes' else 0)

In [620]:
# Now again having a look at all those columns to see if everything went well
print(data['Accomodation_Type'].value_counts())
print(data['Reco_Insurance_Type'].value_counts())
print(data['Is_Spouse'].value_counts())

1    2936
0    2112
Name: Accomodation_Type, dtype: int64
1    3944
0    1104
Name: Reco_Insurance_Type, dtype: int64
0    4147
1     901
Name: Is_Spouse, dtype: int64

In [621]:
# Observe that all those columns are now converted from Object to Int64

data[['Accomodation_Type','Reco_Insurance_Type','Is_Spouse']] = data[['Accomodation_Type','Reco_Insurance_Type','Is_Spouse']].astype(np.int64)

In [622]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories

data.dtypes

ID                           int64
City_Code                   object
Region_Code                  int64
Accomodation_Type            int64
Reco_Insurance_Type          int64
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                    int64
Health Indicator            object
Holding_Policy_Duration      int32
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [623]:
# You can also do this to separate Object columns
target = 'Response'
cont_columns = data.select_dtypes(['int64','float64']).columns
cat_columns = list(filter(lambda x: x!='Response',data.select_dtypes('object').columns))

In [624]:
print(f'Numerical columns => {cont_columns}')
print(f'Categorical columns => {cat_columns}')

Numerical columns => Index(['ID', 'Region_Code', 'Accomodation_Type', 'Reco_Insurance_Type',
       'Upper_Age', 'Lower_Age', 'Is_Spouse', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium', 'Response'],
      dtype='object')
Categorical columns => ['City_Code', 'Health Indicator']

In [625]:
# Lets just try to see what is happening Response. Check the output.

data[target]   # response variable

1       0
2       0
3       0
5       0
8       0
       ..
9992    0
9993    0
9994    0
9996    0
9997    0
Name: Response, Length: 5048, dtype: int64

In [626]:
data.shape

(5048, 14)

In [627]:
# Dropping unknown column

# Write the code here to drop unknown column and check dataframe shape
data.drop(['ID','Region_Code','City_Code'],axis=1,inplace=True)

In [628]:
# Getting all the Object Dtypes
print(f'Shape => {data.shape}')
data.dtypes

Shape => (5048, 11)

Accomodation_Type            int64
Reco_Insurance_Type          int64
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                    int64
Health Indicator            object
Holding_Policy_Duration      int32
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [629]:
# Encoding the categorical features



# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

# Write the code here to use 'encoder' to convert all the categorical columns to numerical representations
# Take extra care to convert encoded numpy array to dataframe and call that data fram 'df_encoded'

# ______________________________
# ______________________________


from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
df_encoded = lb.fit_transform(data['Health Indicator'])
df_encoded = pd.DataFrame(df_encoded,columns=data['Health Indicator'].value_counts().index)
df_encoded

      X1  X2  X3  X4  X5  X6  X7  X8  X9
0      0   0   0   0   0   1   0   0   0
1      1   0   0   0   0   0   0   0   0
2      1   0   0   0   0   0   0   0   0
3      0   0   0   1   0   0   0   0   0
4      1   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..
5043   0   0   0   0   0   1   0   0   0
5044   1   0   0   0   0   0   0   0   0
5045   0   0   1   0   0   0   0   0   0
5046   1   0   0   0   0   0   0   0   0
5047   1   0   0   0   0   0   0   0   0

[5048 rows x 9 columns]

In [630]:
# Concatinating the original data frame and onehot encoded dataframe
df_encoded = pd.concat([data.reset_index(),df_encoded],axis=1)

In [631]:
# Drop all the unwanted columns.

# Because we have already encoded them and added to main dataframe

df_encoded = df_encoded.drop(['Health Indicator','index'],axis=1)

In [632]:
df_encoded

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,1,1,66,66,0,10,1.0,19,16152.0,0,0,0,0,0,0,1,0,0,0
1,0,1,24,24,0,3,1.0,16,7310.0,0,1,0,0,0,0,0,0,0,0
2,0,1,75,75,0,1,3.0,16,15792.0,0,1,0,0,0,0,0,0,0,0
3,1,1,26,26,0,3,1.0,21,13176.0,0,0,0,0,1,0,0,0,0,0
4,0,1,27,27,0,1,3.0,18,8946.0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,0,1,24,24,0,3,1.0,2,9312.0,0,0,0,0,0,0,1,0,0,0
5044,0,1,45,45,0,1,1.0,2,14014.0,0,1,0,0,0,0,0,0,0,0
5045,0,1,33,33,0,8,2.0,17,9456.0,0,0,0,1,0,0,0,0,0,0
5046,0,1,34,34,0,6,1.0,4,10560.0,0,1,0,0,0,0,0,0,0,0
5047,1,1,64,64,0,8,2.0,19,14716.0,0,1,0,0,0,0,0,0,0,0

# `END ----------------------------------`