# `Task - 1 -----------------------------------`



## For this File Please Follow all the Comments mentioned in this Notebook and complete Till Missing value treatment.

## 1. Basic Pandas Operations

In [1]:
# Import all the required Libraries

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
# Read the dataset and display the head. You will get the output as mentioned below

data = pd.read_csv('train.csv')
data.sample(5)
data.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
# Check the shape of the dataframe

data.shape

(10000, 14)

In [10]:
# On the dataframe apply info() function and observe the Dtypes and Missing Values

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   City_Code                10000 non-null  object
 2   Region_Code              10000 non-null  int64
 3   Accomodation_Type        10000 non-null  object
 4   Reco_Insurance_Type      10000 non-null  object
 5   Upper_Age                10000 non-null  int64
 6   Lower_Age                10000 non-null  int64
 7   Is_Spouse                10000 non-null  object
 8   Health Indicator         7671 non-null   object
 9   Holding_Policy_Duration  5946 non-null   object
 10  Holding_Policy_Type      5946 non-null   float64
 11  Reco_Policy_Cat          10000 non-null  int64
 12  Reco_Policy_Premium      10000 non-null  float64
 13  Response                 10000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [11]:
data.isnull().sum()

ID                            0
City_Code                     0
Region_Code                   0
Accomodation_Type             0
Reco_Insurance_Type           0
Upper_Age                     0
Lower_Age                     0
Is_Spouse                     0
Health Indicator           2329
Holding_Policy_Duration    4054
Holding_Policy_Type        4054
Reco_Policy_Cat               0
Reco_Policy_Premium           0
Response                      0
dtype: int64

## 2. Cleaning the Data

In [ ]:
# Impute the Null values in Health Indicator, Holding_Policy_Duration and Holding_Policy_Type

# ____________________________

# ____________________________

In [ ]:
# Check again Holding_Policy_Duration is in object column convert that into int

# ____________________________

In [6]:
# Observe that ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse'] 
# above these Object columns have two values - Yes and No


# ____________________________
# ____________________________

In [31]:
# Converting all the Yes to 1 and No to 0. 



# Write a for loop to iterate over the list given above
# For each feature use pandas 'apply()' to convert all the 'Yes' to 1 and 'No' to 0


# ______________________________
# ______________________________

In [8]:
# Now again having a look at all those columns to see if everything went well

# _________________________________

In [9]:
# Observe that all those columns are now converted from Object to Int64

# ________________________________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 13237 to 2889
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   City_Code                10000 non-null  object
 2   Region_Code              10000 non-null  int64
 3   Accomodation_Type        10000 non-null  object
 4   Reco_Insurance_Type      10000 non-null  object
 5   Upper_Age                10000 non-null  int64
 6   Lower_Age                10000 non-null  int64
 7   Is_Spouse                10000 non-null  object
 8   Health Indicator         7754 non-null   object
 9   Holding_Policy_Duration  6034 non-null   object
 10  Holding_Policy_Type      6034 non-null   float64
 11  Reco_Policy_Cat          10000 non-null  int64
 12  Reco_Policy_Premium      10000 non-null  float64
 13  Response                 10000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [10]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories

# ______________________________
# ______________________________

In [11]:
# You can also do this to separate Object columns

# ____________________________

,City_Code,Accomodation_Type,Reco_Insurance_Type,Is_Spouse,Health Indicator,Holding_Policy_Duration
13237,C19,Owned,Joint,Yes,X2,11
29087,C2,Owned,Individual,No,X3,NaN
49356,C2,Rented,Individual,No,X1,NaN
2175,C19,Owned,Individual,No,X5,1
6027,C4,Owned,Individual,No,X2,5
...,...,...,...,...,...,...
11028,C4,Owned,Individual,No,NaN,NaN
12673,C10,Rented,Individual,No,X1,NaN
35186,C3,Rented,Individual,No,X1,1
50062,C11,Owned,Individual,No,NaN,NaN
2889,C7,Rented,Individual,No,NaN,3

In [24]:
# Lets just try to see what is happening Response. Check the output.

In [22]:
# Dropping unknown column

# Write the code here to drop unknown column and check dataframe shape
# ______________________________
# ______________________________

In [23]:
# Getting all the Object Dtypes

In [25]:
# Encoding the categorical features



# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

# Write the code here to use 'encoder' to convert all the categorical columns to numerical representations
# Take extra care to convert encoded numpy array to dataframe and call that data fram 'df_encoded'

# ______________________________
# ______________________________

In [26]:
# Concatinating the original data frame and onehot encoded dataframe

In [24]:
# Drop all the unwanted columns.


# Because we have already encoded them and added to main dataframe